@import "../../variable";

.marginAuto { margin: auto; }
.padding0 { padding: 0 }
.margin0 { margin: 0 }

.dropdownStyle{
    background-color: $second-color;
}

.playDropDownItem {
    padding: 2% 5%;
    text-align: center;
}

.buttonCol {
    margin: auto;
    padding: 0;
}

.buttonStyle {
    padding: 0;
    display: block;
    pointer-events: unset;
    background-color: $second-color;
    border: none;

    &.disabled {
        pointer-events: none;
    }

    &.hide {
        display: none;
    }
}

.textStyle {
    font-size: 13px;
    text-align: center;
    color: white;
    font-weight: bold;

    &.disabled {
        color: rgb(100, 100, 100);
    }
}

.selectStyle {
    padding: 0;
    border: 0;
    background-color:$second-color;
    border-color: $second-color;
}

.speedSlide {
    margin: 5% 5% 30px 5%;
}

.commonStyle {
    width: 30px !important;
    height: 30px;
    color: white;

    &.redColor {
        color: red;
    }

    &.recordIcon {
        border: white solid 4px;
        border-radius: 50%;
    }

    &.disabled {
        color: rgb(100, 100, 100);
    }
}

.IconContainer {
    padding: 0 1em;
    background-color: $second-color;
    border-color: $second-color;
}

.rowStyle {
    text-align: center;
    background-color: $second-color;
    height: calc(20vh + 15px);
}

.toolBarStyle {
    color: white;
    font-size: 24px;
    // padding: 5px 15px;
}

.spaceStyle {
    background-color: $third-color;
    width: 2px;
    padding: 0px
}
