$first-color :#213647;
$second-color :#173581;
$third-color:#364958;


@mixin scrollbars($thumb-color, $thumb-hover-color,$track-color) {
    
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
      
      /* Track */
     &::-webkit-scrollbar-track {
        background: $track-color;
        width: 4px;
        border-radius: 2px;
    }
      
      /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $thumb-color; 
        width: 4px;
        border-radius: 2px;
    }
      
      /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $thumb-hover-color;
        width: 4px;
        border-radius: 2px;
    }
     
    &::-webkit-scrollbar-corner {
        width: 0px;
    }

  }