@import "../../variable";

.dropdownToggle {
    border: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px ;
}

.contextMenu {
    padding: 5px 10px 0 10px;
}

.contextMenuItem {
    cursor: pointer;
    padding: 0 0 5px 0;
    font-size: 15px
}

.shortCut {
    color: grey;
    text-align: right;
    float: right;
    padding-left: 10px;
}

.modified {
    color: red;
    font-weight: bold;
}