@import "../../variable";

.openNavCol {
    display: none;
    padding: 0;
    width: 0;
    margin-right: 5px;
    &.show{
        display: unset;
        width: 20px;
    }
}

.openNavButton {
    height: 8vh;
    margin-top: 5px;
    padding: 0 5px;
    background-color: rgb(23, 39, 54);
    border: rgb(23, 39, 54);
    box-shadow: 0 1px 3px #000000;
    &:hover {
        background-color: rgb(23, 39, 54);
        filter: brightness(90%);
    }
}

.workAreaCol {
    margin-left: 33%;
    width: 67%;
    padding: 0 5px;
    &.append{
        width: 100%;
        margin-left:0;
    }
    background-color: #3667e2;
}

.workArea{
    padding: 0;
    width: 100%;
    &.append{
       width : calc(100% - 25px);
    }
}

.gridLineTextStyle{
    color: white;
    font-size: 13px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.gridLineStyle {
    // margin: 0 0 3px 0;
    margin: 0;
    min-height: 30px;

    &.selected {
        transform: translate(0px, -2px);
        box-shadow: 0 1px 3px #000000;
        // outline: 1px solid rgb(0, 132, 196);
    }
    &.default{
        background-color: #7796ca;
    }
    &.success{
        background-color: rgba(0, 126, 111, 0.6);
    }
    &.fail{
        background-color: rgba(128, 63, 63, 1);
    }
    &.execute{
        background-color: rgba(57, 123, 166, 1);
    }
    &:hover {
        cursor: pointer;
        filter: brightness(90%);
    }
    &.notHover {
        filter: unset;
    }
}

.includeCommands {
    padding: 0px;
    margin: 5px;
    &.first {
        filter: brightness(90%);
        opacity: 0.5;
    }
}

// play case grid
.testCaseGridHeaderStyle {
    background-color: #7796ca;
    height: 4vh;
    max-height: 40px;
}
.headerTextStyle {
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.spaceStyle {
    height: 5px;
}
.textStyle {
    user-select: none;
    color: white;
    font-size: 15px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.videoIconStyle {
    color: white;
    height: 100%;
    cursor: pointer;
}
.containerStyle {
    height: 345px;
    width: 99%;
    background-color: $third-color;
    max-height: 345px;
    overflow-x: hidden;
    overflow-y: overlay;
}
.dropdownStyle {
    border: 0px;
    padding: 0px;
    position: fixed;
}
.dropdownItemStyle {
    padding: 5px 12px;
}

// edit block
.editBlockTextStyle {
    color: white;
    font-size: 15px;
}

.iconStyle {
    color: white;
    font-size: 18px;
    margin: 5px 0px;
}

.headerColDivision {
    border-left: 2px solid rgba(97, 97, 97, 0.7);
    text-align: center;
    margin: auto 0;
    padding: 0;
}

.colDivision {
    // border-left: 2px solid rgba(97, 97, 97, 0.7);
    margin: auto 0;
    @include scrollbars($second-color,$second-color,$second-color);

    &.header {
        padding: 0;
        text-align: center;
        overflow: overlay;
    }
    &.name {
        width: 25%;
    }
    &.target {
        width: 30%;
    }
    &.value {
        width: 25%;
    }
    &.snapshot {
        width: 12%;
        padding: 0;
        text-align: center;
        cursor: pointer;
    }
    &:hover {
        @include scrollbars(#888,#555,$second-color);
    }
}

.iconStyle {
    color: white;
    font-size: 18px;
    margin: 5px 0;
}

.testCaseGridHeaderContainerStyle {
    background-color: $second-color;
    box-shadow: 0 1px 3px #000000;
    margin-top: 7px;
    text-align: center;
}

.rowNum {
    background-color: rgb(161, 181, 252);
    padding: 0;
    width: 4%;
    text-align: center;
    color: rgb(33, 54, 71);
    font-size: 10px;
    line-height: 30px;

    &.success{
        background-color: rgba(0, 126, 111, 0.6);
    }
    &.fail{
        background-color: rgb(188, 60, 60);
    }
    &.execute{
        background-color: rgb(147, 214, 255);
    }
}

.breakpoint {
    margin-top: 50%;
    color: rgb(56, 138, 215);
}

.preBreakpoint {
    margin-top: 50%;
    color: rgba(48, 122, 193, 0);

    :hover {
        color: rgba(48, 122, 193, 0.6);
    }
}

.recordContainer {
    @include scrollbars($third-color,$third-color,$third-color);
    margin: 5px 0 5px 0;
    background-color: #6d96dd;
    padding: 0;
    user-select: none;
    height: calc(74vh - 17px - 15px);
    overflow-x: hidden;
    overflow-y: overlay;

    &.showEditBlock {
        height: calc(74vh - 17px - 140px - 15px);
    }

    &:hover {
        @include scrollbars(#888,#555,$third-color);
    }
}


.shortCut {
    color: grey;
    text-align: right;
    float: right;
    padding-left: 10px;
}

// edit block
.editBlockTextStyle {
    margin: auto;
}

.editBlockInputCol {
    margin: auto 0;
}

.editBlockCommand {
    user-select: none;
    margin: auto;
    color: gray;
}

.editBlockDropDown {
    padding: 0 !important;
    border: 0 !important;
    border-top-left-radius: 0 !important;
    border-radius: 0 !important;
    width: 100% !important;

    input {
        border: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

.editBlockButtonDropDown {
    width: 100% !important;
}

.editBlockDropDownMenu {
    max-height: 30vh;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: overlay;
}

.editBlockDropDownToggle {
    background-color: white !important;
    border: 0 !important;
    color: black !important;
}

.labelStyle {
    user-select: none;
    color: white;
    font-size: 15px;
    margin-bottom: unset;
}

.iconStyle {
    color: white;
    font-size: 18px;
    margin: 5px 0;
}

.editBlockIconStyle {
    padding: 0;
    margin: auto 0;
    width: 8%;
    text-align: center;
    &:hover {
        filter: brightness(90%);
    }
}

.inputStyle {
    height: 30px;;
}

.snapshotSubtitle {
    color: grey;
    white-space: nowrap;
    width: 100%;
    font-size: 14px;
    padding: 0 5%;
}

// .snapshotModal{
//     // width:100%;
//     // margin:0;
//     // max-width:none;
// }